<!DOCTYPE html>
<html>
    <head>
        <title>Facelet Title</title>
        <style>

            .node {
              opacity: 0.5;
            }

            .node:hover {
              opacity: 1;
            }

            .link {
              stroke: #999;
              stroke-opacity: 0.3;
            }
        </style>
            <link rel="stylesheet" type="text/css" href="../css/styles.css">
            <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
            <script type="text/javascript" src="../js/d3.v3.min.js"></script>
            <script type="text/javascript" src="../js/jquery-1.10.2.js"></script>
            <script type="text/javascript" src="../js/jquery-ui-1.10.4.custom.min.js"></script>
            <script type="text/javascript" src="../js/VDEScopus.js"></script>
    </head>
    <body>
        <!-- <div id='menu'>
		<ul>
			<li class='menu'><h:link value="Force Directed" outcome="index" /></li>
		</ul>
	   </div> -->
        <div class="content">
            <div class="head">
                <div class="cont_left">
                    <p class="menu2" id="menu">
                        <a href="#" id="access_nav" class="access_aid">Skip to navigation</a>
                    </p>

                    <div class="content_title">
                        <p class="main_title">Scopus</p>
                    </div>
                </div>

                <div class="box-search">
                        <div id="search_icon">
                            <span class="si_img"></span>
                        </div>
                        <input id="search" name="search" placeholder="Search node"/>
                    </div>

                <div class="cont_rigth">
                    <div class="rigth_item">
                        <a href="#" id="sh_search" class="rhas"><img src="../img/appbar.debug.step.over.png"></a>
                    </div>
                    <p class="rigth_item rssett">
                        <a href="#" id="nav_rigth"><img src="../img/appbar.information.png"></a>
                    </p>
                </div>
            </div>
                <div class="left" id="main_nav">
                    <!-- <div class="box-search">
                        <input id="search" name="search" placeholder="Search node"/>
                    </div> -->
                    <div class="lnod">
                        <ul id="unod">
                        </ul>
                    </div>
                    <!-- <p><a href="#body" id="access_top" class="access_aid">Skip to top</a></p> -->
                </div>
                <nav class='search'>
                    <div class="fields_search">
                        <select name="countries" size="1" class="cmb_find" id="countries" onchange='loadCities()'>
                            <option value="0">-Select-</option>
                            <!--<option value="Ecuador" selected="selected">Ecuador</option>-->
                        </select>
                        <select name="cities" size="1" class="cmb_find" id="cities" onchange="loadInstitutes()">
                            <option value="0">-Select-</option>
                            <!--<option value="Loja" selected="selected">Loja</option>-->
                        </select>
                        <select name="intitutes" size="1" class="cmb_find" id="institute" onchange="loadData()">
                            <option value="0">-Select-</option>
                            <!--<option value="Universidad Tecnica Particular de Loja" selected="selected">Universidad Tecnica Particular de Loja</option>-->
                        </select>
                        <!-- <button id="sh-search">Busqueda</button> -->
                    </div>

                    <div class="input_fields_wrap">
                        <button class="add_field_button">Agregar Campo</button>
                        </br>

                        <div class="input_fields_wrap_add">
                            <select name="find" size="1" id="cmb_find" class="cmb_find">
                            </select>
                            <input type="text" name="find" class="input-find" id="input_find"></input>
                        </div>
                        <div class="content_search">
                            <button class="searchServer">Buscar</button>
                        </div>
                    </div>
                </nav>
                
                <div class="center">
<!--                    <div id ="sgm">
                        <a></a>
                    </div>-->
                    <div id="viz"></div>
                </div>
                
                <div class="col-md-3 thumbnail" id="sNav_rigth">
                    <div class="contRigth">
                        <center> <h4 class="bg-success" > DETALLE DE NODO </h4></center>
                        <table id="detalle" style="width:300px">
                            <tbody>
                            </tbody>
                        </table>
                        <center><div class="bg-success"> info </div></center>
                    </div>
                </div>

            </div>
        </div>
        <script>
            //});
        </script>
    </body>
</html>

